<!-- <div #div1 (mouseenter) ="doMouseEnter(div1)" (mouseout)="doMouseOut(div1)">
  Hello Piseth Java School
</div>

<h2 #h2 (mouseenter) ="doMouseEnter(h2)" (mouseout)="doMouseOut(h2)"> Test</h2> -->
<!-- 
<div appSetColor defaultcolor="green" hcolor="pink">Using Directive</div>

<h1 appSetColor defaultcolor="green" hcolor="yellow">Test</h1> -->

<h1>Structural Directive Demo</h1>

<p *ngIf="show">Test</p>

<p *appMyIf="isVisible">Display My If</p>

<h2 *appMyIfv2="isShow">Test My If v2</h2>

<!--
<div>  containerView 
  <h2 *ngIf="fgf">hello Dara</h2>  template ref
</div>
-->
